.leftDiv {
    float: left;
    width: 40%;
}

.rightDiv {
    float: right;
    width: 60%;
}

.resultsDiv {
    padding: 10px 15px 50px 15px;
}

#greyStar {
    font-size: 18px;
    color: #AAAAAA;
}
#greenStar {
    font-size: 18px;
    color: #26995c;
}

.star-button {
    height: 46px;
    width: 4%;
    /* float: right; */
    padding-right: 30px;
border: none;
background: none;
}
